<nav class="navbar">
  <div class="logo">
    <h1><a ui-sref="home">{{ $ctrl.name }}</a></h1>
  </div>
  <div class="nav-links">
    <span><a ui-sref="about">about</a></span>
    <span><a ui-sref="firedb" href="/firedb">Check firebase connection</a></span>
  </div>
</nav>
