.firedb {
  height: 80rem;
  padding: 3rem;
  font-size: 22px;
  background: white;
  
  table {
    width: 100%;
    text-align: center;
    max-height: 0;
    th {
      background-color: #66A3D2;
      border: 2px solid silver;
      padding: 15px;
    }
    td {
      border: 2px solid silver;
      padding: 5px;
      width: 20%;
      background-color: white;
    }
  }
}
