<navbar></navbar>
<h1>{{ $ctrl.name }}</h1>
<section class="firedb">

 	<table>
        <thead>
            <tr>
                <th>Recipient</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Group</th>
            </tr>
        </thead>
        <tbody>
			<tr ng-repeat="email in $ctrl.data" ">
				<td>{{email.recipient}}</td>
				<td>{{email.subject}}</td>
				<td>{{email.date}}</td>
				<td>{{email.group}}</td>
			</tr>
        </tbody>
  	</table>
</section>